TYPEORM_CONNECTION = XXXXXXXX
TYPEORM_HOST = XXXXXXXX
TYPEORM_PORT = XXXXXXXX
TYPEORM_USERNAME = XXXXXXXX
TYPEORM_PASSWORD = XXXXXXXX
TYPEORM_DATABASE = XXXXXXXX
TYPEORM_SYNCHRONIZE = XXXXXXXX
TYPEORM_LOGGING = XXXXXXXX
TYPEORM_ENTITIES = PATH_TO_YOUR_FILE
TYPEORM_ENTITIES_DIR = PATH_TO_YOUR_FILE